@font-face { 
    font-family: 'RiaSans'; 
    font-style: normal; 
    font-weight: 400; 
    src: url(RiaSans-Regular.woff2) format('woff2'), 
    url(RiaSans-Regular.woff) format('woff'), 
    url(RiaSans-Regular.otf) format('opentype'); 
}
@font-face { 
    font-family: 'RiaSans'; 
    font-style: normal; 
    font-weight: 600; 
    src: url(RiaSans-Bold.woff2) format('woff2'), 
    url(RiaSans-Bold.woff) format('woff'), 
    url(RiaSans-Bold.otf) format('opentype'); 
}
@font-face { 
    font-family: 'RiaSans'; 
    font-style: normal; 
    font-weight: 800; 
    src: url(RiaSans-ExtraBold.woff2) format('woff2'), 
    url(RiaSans-ExtraBold.woff) format('woff'), 
    url(RiaSans-ExtraBold.otf) format('opentype'); 
}
